# 指定使用pnpm作为项目的包管理器
engine-strict=true
engine-mode=auto

# 使用pnpm作为默认的包管理器
prefer-pnpm=true

# 允许在安装过程中自动解决对等依赖问题
auto-install-peers=true
strict-peer-dependencies=false

# 当遇到对等依赖冲突时，使用更宽松的策略
resolve-peers-from-workspace-root=true

# 使用npm registry
registry=https://registry.npmjs.org/ 